<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="width: 100%;" >
<div style="width: 100%;" >
         <p style='font-size:20px' >Hello <%= email %>!</p>
         <p style='font-size:15px' >Thanks for Signing up for your homy account! Please verify your email using the link below and get started shopping with us today!</p>
         <div>
            <div style='display:flex;align-items:center;justify-content:center;width: 100%;padding: 1px;' >
                <button style='border:none;background-color: #0a7274;padding-left: 14px;padding-right: 14px;padding-top: 9px;padding-bottom: 9px;float:right;'>
                    <a style="color: white;font-size: 16px;" href="<%= activationUrl %>">Verify email<a/>
                    </button>
                </div>
         </div>
         </div>
         <p style='font-size:15px'>Enjoy</p>

         <p style='font-size:14px' >The MyRealEstate Team </p>
      </div></body>
</html>